<mat-card *ngFor="let post of allPosts" style="margin: 10px; width: 40%; margin: auto;">
  <mat-card-header>
    <mat-card-title>
      <h2>{{post.title}}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{post.body}}</p>
    <div style="display: flex; align-items: center;">
      <mat-icon>attach_money</mat-icon>
      <span>{{post.price | currency: "USD"}}</span>
    </div>

    <div class="personContainer" *ngFor="let post of allPosts">
      <mat-card style="height:300px; display:flex; flex-flow: row; justify-content: center; align-items: center; text-align: left;">
        <mat-card-content>
          <div>
            <h1 class="blurText" style="text-align: left;">{{post.userId}}</h1> 
          </div>
          <p>Title: {{post.title}}</p>
          <p>{{post.body}}</p>
          <span>Price: 
            <p class="blurText">
              ${{post.price}}
            </p>
          </span>
          <!-- <button class="button" (click)="goToSocialSite(person.socialMediaLink)">Show more</button> -->
          <button class="button" (click)="goToAccountPage()" >View Account</button>
      </mat-card-content>
      </mat-card>

    <div style="display: flex; align-items: center;">
      <mat-icon>schedule</mat-icon>
      <span>{{post.timestamp | date: 'short'}}</span>

    </div>
  </mat-card-content>
</mat-card>
<div style="display: flex; justify-content: center;">
  <img src="../../assets/Rolling-1s-200px.gif" *ngIf="allPosts.length < 1" style="margin: auto; height: 50px;">
</div>