.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 25px;
    font-size: 18px;
   
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #4c0d0d;
}

.container {
    padding: 10px; display: flex; flex-flow: column; justify-content: center; align-items: center; gap:10px
}
.personContainer {
    border: 2px solid white; border-radius: 10px; text-align: center; width: 40%;
}

.container {
    width: 40%; 
    
   
    margin: auto; margin-top: 10px; margin-bottom: 10px;
}
@media screen and (max-width:700px) {
    .container {
        width: 70%;
    }
}
.item-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .item mat-icon {
    margin-right: 0.5rem;
  }

  .item span {
    margin-right: 0.5rem;
  }
