<form role="dialog">
    <!-- <mat-dialog-title>Create New Post</mat-dialog-title> -->
    <mat-dialog-content>
        <h2>Create New Post</h2>
        <div>
            <label>Title</label>
            <input matInput #title>
            <label>Body</label>
            <input matInput #body>
            <label>Price</label>
            <input matInput #price type="number">
        </div>

  
  
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
      <button mat-raised-button (click)="addPost(title.value,body.value,price.value)">Create Post</button>
    </mat-dialog-actions>
</form>