mat-form-field{
    padding:50px;
    
}

input{
    background-color: white;
    

}

label{
    color: purple;
    font-weight: bold;
    
}

mat-spinner{
    height:36px;
}

mat-card{
    width:75%;
    
}

mat-card > div{
    display:flex;
    flex-flow:row;
}

mat-card > div > mat-form-field{
    width:45%;

}

mat-radio-group{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    justify-content: center;
}