

label{
    color: purple;
    font-weight: bold;
    
}


mat-spinner{
    height:36px;
}



mat-card > div{
    display:flex;
    flex-flow:row;
}

mat-card > div > mat-form-field{
    width:45%;

}

mat-radio-group{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    justify-content: center;
}
=======
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
  
  mat-card {
    width: 100%;
    max-width: 400px;
  } 
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  } 
  
  .button-container {
    display: flex;
    justify-content: end;
    gap: 5px;
  }
  mat-card-header{
    font-size: larger;
    margin-bottom: 20px;
  }
  button {
    font-size: medium;
    font:bolder;
  }

