

   <mat-card>
    <mat-card-title>Registration Form</mat-card-title>
    <mat-card-content>
        <form #ngForm (ngSubmit)="formSubmit(firstName.value, lastName.value,userName.value,password.value,phoneNumber.value,email.value,age.value,'')" >
            <div>
                <mat-form-field>
                    <label>First </label>
                    <input matInput #firstName  required style="color: black;">   
                </mat-form-field>
                <mat-form-field>
                    <label> Last </label>
                    <input matInput #lastName  required style="color: black;">  
                </mat-form-field>
                <mat-form-field>
                    <label>User Name </label>
                    <input matInput #userName  required style="color: black;">   
                </mat-form-field>
                <mat-form-field>
                    <label> Password </label>
                    <input matInput #password  required style="color: black;">  
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <label>Phone Number</label>
                    <input matInput #phoneNumber  required style="color: black;">
                </mat-form-field>
                <mat-form-field>
                    <label>Email </label>
                    <input matInput #email  required style="color: black;">   
                </mat-form-field>
                <mat-form-field>
                    <label>Age</label>
                    <input matInput  #age type="number" required style="color:black;">
                </mat-form-field>
            
                <mat-radio-group #accountType aria-label="Account Type" (change)="updateAccountType($event)" required>
                    <mat-radio-button value="Influencer">Influencer</mat-radio-button>
                    <mat-radio-button value="Advertiser">Advertiser</mat-radio-button>
                </mat-radio-group>  
              
            </div>  
            <div class="button-container">
                <button [disabled]="!ngForm.checkValidity()" mat-raised-button color="primary" type="submit">Register</button>
            </div>
            
        </form>

    </mat-card-content>
   </mat-card>