

   <mat-card>
    <mat-card-title>Registration Form</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" >
            <div>
                <mat-form-field>
                    <label>First </label>
                    <input matInput formControlName="firstName" required style="color: black;">   
                </mat-form-field>
                <mat-form-field>
                    <label> Last </label>
                    <input matInput formControlName="lastName" required style="color: black;">  
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <label>Phone Number</label>
                    <input matInput formControlName="phone" required style="color: black;">
                </mat-form-field>
                <mat-form-field>
                <label>Age</label>
                <input matInput formControlName="age" type="number" required style="color:black;">
                </mat-form-field>
            </div>  
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit">Register</button>
            </div>
            
        </form>

    </mat-card-content>
   </mat-card>