<div class="navbar">
    <mat-toolbar style="display: flex; flex-flow: row; justify-content: space-between; ">
      <span class="navText">InfluencerXchange</span>
      <div>
        <button mat-icon-button *ngIf="activeAccount" (click)="openAddPostDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      
        
    </mat-toolbar>
</div>
<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.toggle()" [hasBackdrop]="true">

  <mat-sidenav #sidenav mode="over" position="end" style="min-width: 300px;display: flex; flex-flow: column;">
    <div class="mat-drawer-inner-container">
      <mat-nav-list disableRipple="">
        <a mat-list-item *ngIf="!activeAccount" routerLink="/login" (click)="sidenav.toggle()">Login</a>
        <a mat-list-item *ngIf="!activeAccount" routerLink="/signup" (click)="sidenav.toggle()">Sign up</a>
        <a mat-list-item *ngIf="activeAccountType != 'Influencer' && activeAccount" routerLink="/influencers" (click)="sidenav.toggle()">Influencers</a>
        <a mat-list-item *ngIf="activeAccountType != 'Advertiser' && activeAccount" routerLink="/advertisers" (click)="sidenav.toggle()">Advertisers</a>
      </mat-nav-list>
      <div *ngIf="activeAccount" class="account-info">
        <img style="border-radius: 100px;" [src]="gravatarUrl" />
        <h1 style="display: contents;">{{activeAccount}}</h1>
        <p>Account type: {{activeAccountType}}</p>
      </div>
      <div class="logout-button-container">
        <button *ngIf="activeAccount" mat-raised-button style="background-color: red; color: white; text-align: center; margin: 5px;" (click)="logout()">Logout</button>
      </div>
    </div>


    
  </mat-sidenav>
  
  <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer ></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


