* {
    margin:0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navText
{
    font-size: 26px;
    color: rgb(109, 0, 136);
    text-shadow: 0 1px 1px rgba(197, 96, 255, 0.4),
                 0 2px 2px rgba(112, 46, 182, 0.3),
                 0 3px 3px rgba(104, 17, 181, 0.2),
                 0 4px 4px rgba(75, 0, 155, 0.1);
}


.mat-nav-list a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
  }
  
  .mat-nav-list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
html, body {
    margin: 0;
  }
  
  .content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  mat-sidenav-container {
    overflow: hidden;

  }
  mat-sidenav-content {

  }
  .sidenav-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  mat-sidenav-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  
  
  .sidenav-container {
    margin-top: 64px; /* Adjust this value to match your navbar height */
    margin-bottom: 50px;
}

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }
  mat-side-name{
    min-width: 300px;
  }
  