* {
    margin:0;
    padding: 0;
}

.navbar {
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 50px;
}


.navText
{
    font-size: 26px;
    color: rgb(109, 0, 136);
    text-shadow: 0 1px 1px rgba(197, 96, 255, 0.4),
                 0 2px 2px rgba(112, 46, 182, 0.3),
                 0 3px 3px rgba(104, 17, 181, 0.2),
                 0 4px 4px rgba(75, 0, 155, 0.1);
}


.mat-nav-list a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
  }
  
  .mat-nav-list a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
html, body {
    margin: 0;
  }
  
  .content-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  mat-sidenav-container {
    overflow: hidden;
  }
  mat-sidenav-content {

  }
  .sidenav-container {
    padding-top: 64px;
    height: calc(100vh);
  }
  .account-info{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidenav {

    /* height: calc(100vh - (64px + 50px)); */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  
  .mat-drawer-inner-container {
    flex-grow: 1;
    padding-top: 64px;
    height: calc(100% - 64px);
    overflow-y: auto;
  }
  
  .logout-button-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: #fff; /* Optional: Match the sidenav background color */
  }
  
  button[mat-raised-button] {
    background-color: red;
    color: white;
    text-align: center;
    margin: 5px;
  }
  
  
  
  mat-sidenav-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  
  
  .sidenav-container {
}

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }
  mat-side-name{
    min-width: 300px;
  }
  