/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";



* {
  font-family: 'Arimo', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

html,body {
  color:white;
  height: 100vh;
  margin: 0;
}


.blurText
{
  color: rgb(109, 0, 136);
    text-shadow: 0 1px 1px rgba(197, 96, 255, 0.4),
                 0 2px 2px rgba(112, 46, 182, 0.3),
                 0 3px 3px rgba(104, 17, 181, 0.2),
                 0 4px 4px rgba(75, 0, 155, 0.1);

}

.navText
{
    font-size: 26px;
    color: rgb(109, 0, 136);
    text-shadow: 0 1px 1px rgba(197, 96, 255, 0.4),
                 0 2px 2px rgba(112, 46, 182, 0.3),
                 0 3px 3px rgba(104, 17, 181, 0.2),
                 0 4px 4px rgba(75, 0, 155, 0.1);
}